*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url(./Assets/background_compressed.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
 
header {
    background-color: #222;
    color: white;
    height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

header nav .nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-top: 0;
    height: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

header nav ul li a {
    position: relative;
    top: 5px;
    text-decoration: none;
    background-color: #444;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    width: 120px;
    text-align: center;
    position: relative;
}

#timeline .timeline-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
}

#timeline .timeline-box .box {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 50vw;
}

#timeline .timeline-box .box:nth-child(odd) {
    text-align: left;
    align-self: flex-start;
}

#timeline .timeline-box .box:nth-child(even) {
    text-align: right;
    align-self: flex-end;
}

#timeline .timeline-box .box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

#timeline .timeline-box .box:nth-child(even) img {
    order: 2;
    margin-right: 0;
    margin-left: 10px;
}

#timeline .timeline-box .box-text {
    font-size: 1.2em;
    color: white;
}

.Box{
    display:flex;
    flex-direction:column;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: 0;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

header nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

header nav ul li a:hover {
    background-color: #666;
}

.logo-img {
    position: relative;
    left: 20px;
    height: 50px;
    width: auto;
}

main {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.main-content section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.main-title {
    margin-left: 20px;
    align-self: flex-start;
    margin-bottom: 20px;
    font-size: 2rem;
}

h2 {
    padding-top: 120px;
}

h3 {
    padding-top: 120px;
}

h4 {
    font-size: 1.3em;
    font-weight: bold;
}

.Box-container {
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.about-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    flex: 1 1 calc(45% - 40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    height: 60vh;
    overflow-y: hidden;
}

.about-box:hover {
    transform: scale(1.04);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}

h5 {
    font-size: 1.6em;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}

.about-text {
    margin-top: 5px;
    margin-inline: 20px;
    font-size: 1.3em;
    line-height: 1.2em;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.para1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.para2 {
    font-size: 23px;
    font-weight: normal;
}

.card {
    background-color:rgba(255,255,255,0);
    width: 48%;
    height: calc(100vh - 230px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-left {
    animation: slideInFromLeft 1s ease-out;
    margin-right: 2%;
}

.card-right {
    animation: slideInFromRight 1s ease-out;
    background-color: rgba(11, 10, 10, 0);
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutme {
    animation: slideInFromLeft 1s ease-out;
}

#timeline {
    animation: fadeInRight 1s ease-out;
}

.card-img-left {
    margin: 2px;
    width: 50%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
}

.card-img-right {
    margin: 2px;
    width: 50%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
}

.box-img {
    margin: 2px;
    width: 50%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    border-radius: 20px
}

.about-img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    border-radius: 10px
}

footer {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    padding: 0;
    width: 100%;
    margin-top: auto;
    border-radius: 0;
    position: relative;
}

footer form {
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.forma {
    padding: 20px;
    margin-bottom: 50px;
}

footer form label {
    margin-bottom: 5px;
}

footer form input, footer form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
}

footer form .subm {
    align-self: center;
    padding: 10px 20px;
    font-size: 15px;
}

.subm {
    background-color: rgb(13, 165, 225);
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 30px;
}

.hamburger-menu {
    position: absolute;
    left: 20px;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: #222;
    position: absolute;
    top: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 0px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.dropdown-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu a {
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #444;
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo-img {
        left: 0;
    }

    header nav .nav-center {
        width: 100%;
        justify-content: space-between;
    }

    header nav .nav-center ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    header nav ul li button {
        width: 100%;
        text-align: left;
        padding: 10px;
    }

    .hamburger-menu:hover + .dropdown-menu, .header-content:hover .dropdown-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .Box {
        flex: 1 1 100%;
        height: auto;
    }

    .Box-container {
        flex-direction: column;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .card-left {
        height: 300px;
    }

    .card-right {
        height: 200px;
        margin-top: 30px;
    }

    .b {
        font-size: 1.2em;
        font-weight: normal;
        max-height: none;
        overflow-y: visible;
    }

    .hamburger-menu {
        display: flex;
    }

    .logo {
        order: 1;
        margin: 0 auto;
    }

    .nav-center,
    .search-bar,
    .nav-center ul {
        display: none;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }

    #timeline .timeline-box .box {
        flex-direction: column;
        max-width: 80vw;
        text-align: center;
        padding: 30px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    #timeline .timeline-box .box:hover {
        transform: scale(1.06);
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
    }

    #timeline .timeline-box .box img {
        width: 150px;
        height: 150px;
        margin: 0 0 15px 0;
        order: -1;
    }

    #timeline .timeline-box .box:nth-child(even) img {
        order: -1;
        margin: 0 0 15px 0;
    }

    #timeline .timeline-box .box-text {
        margin-top: 10px;
        font-size: 1.2em;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-img {
        left: 0;
    }

    header nav .nav-center {
        width: 100%;
        justify-content: space-between;
    }

    header nav .nav-center ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    header nav ul li button {
        width: 100%;
        text-align: left;
        padding: 10px;
    }

    .hamburger-menu:hover + .dropdown-menu, .header-content:hover .dropdown-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .Box {
        flex: 1 1 100%;
        height: auto;
    }

    .Box-container {
        flex-direction: column;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .card-left {
        height: 300px;
    }

    .card-right {
        height: 200px;
        margin-top: 30px;
    }

    .b {
        font-size: 1em;
        font-weight: normal;
        max-height: none;
        overflow-y: visible;
    }

    #timeline .timeline-box .box {
        flex-direction: column;
        max-width: 75vw;
        text-align: center;
        padding: 30px;
    }

    #timeline .timeline-box .box img {
        width: 150px;
        height: 150px;
        margin: 0 0 15px 0;
        order: -1;
    }

    #timeline .timeline-box .box:nth-child(even) img {
        order: -1;
        margin: 0 0 15px 0;
    }

    #timeline .timeline-box .box-text {
        margin-top: 10px;
        font-size: 1.2em;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 769px) {
    .search-bar {
        display: none;
    }

    #timeline .timeline-box .box {
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 20px;
        max-width: 50vw;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    #timeline .timeline-box .box:nth-child(odd) {
        margin-left: 10%;
    }

    #timeline .timeline-box .box:nth-child(even) {
        margin-left: auto;
        margin-right: 10%;
    }

    #timeline .timeline-box .box:hover {
        transform: scale(1.06);
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
    }

    #timeline .timeline-box .box img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 10px;
    }

    #timeline .timeline-box .box:nth-child(even) img {
        order: 2;
        margin-right: 0;
        margin-left: 10px;
    }

    #timeline .timeline-box .box-text {
        font-size: 1.2em;
        color: white;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.foot{
 display: flex;
}

footer form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    height: 50px;
}

footer form .form-group label {
    margin-right: 10px;
    width: 100px;
}

footer form .form-group input, footer form .form-group textarea {
    flex-grow: 1;
    width: 30vw;
    margin-top: 15px;
    font-size: 17px;
}

#enquiry {
    height: 40px;
     margin-top: 15px; 
}

footer .social {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
}

footer .social a {
    margin-left: 10px;
}

footer .social img {
    width: 36px;
    height: auto;
}